{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    {% if user.is_authenticated %}
    <div class="user-info">
        <p>You are logged in as <strong>{{ user.username }}</strong></p>
        <form method="post" action="{% url 'logout' %}">
            {% csrf_token %}
            <button type="submit" class="btn btn-logout">Log Out</button>
        </form>
    </div>
    {% endif %}
    <table>
        <caption>
            A list of very important chores
          </caption>
          <thead>
            <tr>
              <th scope="col">Name</th>
              <th scope="col">Description</th>
              <th scope="col">Date Added</th>
              <th scope="col">Date Complete</th>
              <th scope="col">Deadline</th>
              <th scope="col">Is Completed?</th>
              <th scope="col">Completed By</th>
              {% if user.is_staff %}
              <th>Delete?</th>
              {% endif %}
            </tr>
          </thead>
          <tbody>
            {% for entry in tasks_total %}
                <tr>
                    <th scope="row">{{entry.task_name}}</th>
                    <td>{{entry.description}}</td>
                    <td>{{entry.date_added}}</td>
                    <td>{{entry.date_completed}}</td>
                    <td>{{entry.date_deadline}}</td>
                    <td>{{entry.is_complete}}</td>
                    <td>{{entry.completed_by}}</td>
                    {% if user.is_staff %}
                    <!-- tasks:delete_task connects back to the name of the URL -->
                    <td>
                    <form method="post" action="{% url 'tasks:delete_task' entry.id %}">
                      {% csrf_token %}
                      <button type="submit" class="btn btn-delete">Delete</button>
                    </form>
                    {% endif %}
                    </td>
                </tr>
            {% endfor %}
          </tbody>
    </table>

</body>
<script type="text/javascript" src="{% static 'tasks/script.js' %}"></script>
</html>